{% extends "::base.html.twig" %}

{% block title %}pitaksKickerBundle:Reservation:editReservation{% endblock %}

{% block body %}
<h1>Welcome to the Reservation:editReservation page</h1>
{% endblock %}
