
    <button type="submit" id="mygtukas"> Spausk </button>
    <input id="datetimepicker" type="text" >
    <p id="laukas" style="position: absolute; overflow-y: scroll;padding: 5px; margin: 5px; min-width: 80%; max-height: 250px"> No date seleted</p>
    <script>

        $('#mygtukas').click(function(){
                    $("#save").prop("disabled",true);
                     var verte = $('#datetimepicker').val();
                    if(verte!=""){
                    $.ajax({
                        url:  "{{path('timelist')}}",
                        type: "post",
                        data: ({dateValue: verte, tableId: 1}),
                        success: function(data){
                            alert('success');
                            $("#laukas").html(data);
                        },
                        error:function(){
                            alert("failure");
                            $("#laukas").html('There is error while submit');
                        }
                    });
                    }
                    else{
                        $("#laukas").text("Choose Data from the calendar");
                    }
                }
        );
        $('#datetimepicker').datetimepicker({
            defaultDate:0,
            lang:'lt',
            format:'Y-m-d',
            minTime:0,
            minDate:0,
            timepicker:false
        });

    </script>