<div class="container-fluid">
    <div class="row" >
        <h4 id="tableName" value={{ table.id }}>{{ table.name }}</h4>
    </div>
    <div class="row">
        <div class=" col-sm-5">
            <label for="datetimepicker">Data</label>
            <input class="form-control" id="datetimepicker" type="text" >
        </div>
        <div class=" col-sm-5">
            <label for="timepicker">Select Start Time</label>
            <input class="form-control" id="timepicker" type="text" >
        </div>
        <div class="col-sm-5">
            <label for="">Select Duration</label>
            <select id="selectDuration" class="form-control">
                <option value="900">15 min</option>
                <option value="1800">30 min</option>
                <option value="2700">45 min</option>
                <option value="3600">1 h</option>
            </select>
        </div>
        <button type="submit" id="mygtukas" class="btn btn-info"> Submit </button>
    </div>
    <div class="row" style=" overflow-y: scroll;padding: 5px; margin: 5px; min-width: 80%; max-height: 250px">
        <p id="laukas"> No date seleted</p>
    </div>
    </div>
<script src="{{ asset('bundles/pitakskicker/js/reservationScript.js') }}">

</script>