<div class="footer">
    <div class="row">
        <div class="green-bar">

            <div class="white-line col-sm-offset-1 col-sm-10">

            </div>
        </div>
    </div>
    <!--footer -->
    <div class="myFooter">
        <h4> Darbą atliko komanda: pitaks</h4>
    </div>
</div>
