{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" >
           Comments
        </h2>
    </div>
    <div class="panel-body" style="color:#000000">
    {% block comments_list %}
        {% if list|length > 0 %}
            <table class="table">

            {% for comment in list %}

                <tr><th> {{ comment.userId_id.username }}</th>
                    <th> {{ comment.comment }}</th>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            {{ 'No comments'|trans }}
        {% endif %}
    {% endblock %}

    {% block comments_form %}
        {% if app.user %}
            {% include 'pitaksCommentsBundle:Default:_form.html.twig' %}
        {% endif %}
        </div>
    </div>
    {% endblock %}
{% endblock %}