//FONT colors
$fontGrey : #969292;
$fontBlack : #1E2624;
$fontGreen : #579052;
$fontLightGreen : #C7F1FF;
$fontMoreBlack :#262626;

$bordColor: rgb(57, 248, 197);
//font bg
$bgDark :#212121;
$bgGreen :#2F8F75;
$bgGrey :#F2F2F2;
//profile colors
$profileLightGreen : #87E261;
$profileDarkGreen : #7DCF5B;

.navbar{
  height: 100px;
  background-color: white;
  padding-top: 40px;
}
.navbar-nav>li>a{
  text-transform: uppercase;
  color: $fontGrey;
  font-size: 18px;
  font-weight: 900;
  font-family: "museo-sans", "Book Antiqua", sans-serif;
}
.navbar-nav>li>a:hover{
  color:$fontBlack;
  background-color: white;
  border-bottom: solid 4px $bordColor;
}
.navbar-collapse {
  position: relative;
  z-index: 5;
  background-color: white;
}
.navbar-toggle{
  background-color: $bgDark;
}
.navbar-default {
  background-color: white;
  border-color: transparent;
}
@media screen and (max-width: 768px){
  .navbar{
    padding-top: 0;
    height: 40px;
  }
  .navbar-nav>li>a{
    font-size: 30px;
    font-weight: lighter;
    padding: 25px;
    color: white;
  }
  .navbar-toggle {
    height: 60px;
    width: 60px;
    position: relative;
    float: right;
    margin-right: 0;
    margin-top: -1px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background:  $fontMoreBlack url('../images/open-menu.png') no-repeat center center;
  }

  .navbar-collapse{
    color: white;
    text-align: center;
    background-color: $fontMoreBlack;
  }
  .navbar-nav>li>a:hover{
    background-color:$bgDark;
    border: none;
    color: white;
  }
  .navbar-brand {
    height: 50px;
    font-size: 30px;
    margin-top: -1px;
    font-weight: 500;
    text-transform: uppercase;
    color: $fontMoreBlack ;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white ;
  }
  .navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #E2FF33;
  }
  .navbar-default .navbar-toggle:focus{
    background-color: $fontMoreBlack;
  }
  .navbar-default .navbar-toggle:hover {
    background: $fontMoreBlack url('../images/menu_hover.png') no-repeat center center;
  }
}
#mainBar {
  background: url("../images/mainBar.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
  padding: 20px ;
  margin: -15px;
}
