{% extends "::base.html.twig" %}

{% block title %}Example{% endblock %}
{% block body %}

<style>

    body{
        background-color: #66dd66;
    }
    #header{

        height: 50px;
        background-color: #9d9d9d;
    }
    #main{
        margin-top: 20px;
      //  background-color: #d6e9c6;
        height: 500px;
        background-color: rgba(214, 233, 198, 0.9);
    }
    .myPanel{
        margin-top: 10px;
        margin-bottom: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: solid 4px #ffffff;
        box-shadow:  0 1px 20px 0 rgba(255,255,255,0.45);
        background-color: #ffffff;
        text-transform: uppercase;
        min-height: 100%;
    }
    .myPanelHeader{
        margin-left: 20px;
        margin-top: 20px;
        border-bottom: solid 5px #66dd66;
        font-family: "consolas";
        color: rgba(0,0,0, 0.3);
    }
    .myPanelArea{
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 40px;
    }

</style>
<div class="container-fluid">
    <!--header -->
    <div class="row">
        <div id="header" class="header">

            <!--navigation -->
        </div>
    </div>

    <!--main-->
    <div id="main" class="row">
        <div class="myPanel col-sm-offset-1 col-sm-10" >
            <div class="row">
                <div class="myPanelHeader col-sm-4 col-sm-offset-8">
                    <h1><strong><span class="glyphicon glyphicon-list"></span> Pagrindinis </strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="myPanelArea">
                    <div class="myPanelAreaLeft col-sm-6">
                        <table class="table-response">
                            <table class="table table-hover">
                                <tr>

                                    <th>Table name</th>
                                    <th></th>
                                    <th>50</th>
                                </tr>
                                <tr>
                                    <td>Eve</td>
                                    <td>Jackson</td>
                                    <td>94</td>
                                </tr>
                            </table>

                        </table>
                    </div>
                    <div class="myPanelAreaLeft col-sm-offset-2 col-sm-4">
                        Nors D. Ulbinaitė buvo išteisinta dėl kaltinimų atskleidus valstybės paslaptį, prokurorai su išteisinimu nesutinka ir prašo jai skirti daugiau kaip 9 tūkst. eurų baudą bei atimti teisę trejus metus dirbti valstybės tarnyboje.

                        Byla dėl paslapties atskleidimo išvis neturėjo būti iškelta. VSD išvada, kad informacinės atakos prieš Lietuva gali padažnėti, ir bus stengiamasi diskredituoti prezidentę Dalią Grybauskaitę, Rusijos archyvuose „atrandant“ naujų duomenų apie jos praeitį, niekada neturėjo būti įslaptinta, nes jos paviešinimas kaip tik buvo veiksmingiausia priemonė numatomai dezinformacijos kampanijai pakirsti.

                        http://www.delfi.lt/news/ringas/lit/k-girnius-prokuraturai-reikia-pertvarkos.d?id=67722826#ixzz3XanzeVDE

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--main-->
    <!-- tablet -->
    <!--footer -->
</div>

{% endblock %}
