{% extends "::base.html.twig" %}

{% block title %}Pagrindinis{% endblock %}

{% block body %}

    <aside id="topbar">
        Search/filter & login form will be here
    </aside>

    <main class="row">

        <section id="tables-list" class="col-sm-8 col-md-8 col-lg-9">

            <header>
                <h1>Stalų sąrašas</h1>
            </header>

            <section class="list-group">

                {% for table in tables %}
                <article class="list-group-item table">
                    <header class="table-name">
                        <h3> {{ table.name }}</h3>
                        <h4 id="result"> Rezultatas </h4>
                    </header>
                    <div id="refreshInfo">

                    </div>
                    <button id="rezervation" type="button" value="{{ table.id }}" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        Rezervation
                    </button>
                <!-- kad ismestu lentute reikia padaryt-->
                </article>
                {% endfor %}
            </section>

        </section>

        <aside id="result" class="col-sm-4 col-md-4 col-lg-3">

            <header>
                <h2>Rezultatas</h2>
            </header>

            <h2>
                <strong>5 : 2</strong>
            </h2>

        </aside>

    </main>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Registracija</h4>
                </div>
                <div class="modal-body">
                    <section id="registarcija" style="min-height: 300px">

                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        $('#close_button').click(function(){
           $('#lentosBAck').css('display','none');
        });
        $("#save").prop("disabled",true);
        $('#rezervation').click(function(){
                    $.ajax({
                        url:  "{{path('viewRes')}}",
                        type: "post",
                        data: ({ tableId: $(this).val()}),
                        success: function(data){
                            $("#registarcija").html(data);
                        },
                        error:function(){
                            alert("failure");
                            $("#registracija").html('There is error while submit');
                        }
                    });
                }
        );
        $(document).ready(function(){
           refreshTable();
        });

        function refreshTable(){
            $('#refreshInfo').load('{{ path('isTableFree',{'tableId': 1}) }}', function(){
                setTimeout(refreshTable, 1000);
            });
        }
    </script>
{% endblock %}
