<div class="conteiner" style="padding-left: 10px;padding-right: 10px;padding-bottom: 10px">
    <input id="tableId" hidden value="{{ table.id}}">

    <h3>{{ table.name }}</h3>
    <p id="rateErrors"> </p>
    <div id="spinnerTab">
        <p> Choose value from 0 to 5</p>
        <p>
            <label for="spinner">Rate Table:</label>
            <input id="spinner" name="value">
        </p>
        <button id="saveRate" value="{{ table.id }} " class="btn btn-success"> Rate</button>
    </div>
</div>
<script src="{{ asset('bundles/pitakskicker/js/tableRate.js') }}">
</script>