$z-upper :2;
$z-up :1;
$z-down:-1;
$z-downer:-2;

$smallPadding:5px;

$text_color_simple : #efffe3;
$text_color_bigger : #ebebeb;

$box_shadow_down:0px 20px 30px -10px;
$box_shadow_color:rgba(0,0,0,0.75);

$whiteLineOpacity:0.8;
$text_color_hover:#000000;
$LineColor: #ffffff;
$radius_little :10px;

$bg_main_color:#050B03;
$bg_table_color:#fafafa;

$gradient_color_up:rgba(66,66,66,1);
$gradient_color_down:rgba(0,0,0,1);
//procents for gradient
$percent1:0%;
$percent2:77%;
$percent3:98%;
$percent4:100%;

@mixin gradient_color_footer_4($fromColor, $toColor,$proc1,$proc2,$proc3,$proc4) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor $proc1,$fromColor $proc2, $toColor $proc3,$toColor $proc4); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor $proc1,$fromColor $proc2, $toColor $proc3,$toColor $proc4); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor $proc1,$fromColor $proc2, $toColor $proc3,$toColor $proc4); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor $proc1,$fromColor $proc2, $toColor $proc3,$toColor $proc4); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor $proc1,$fromColor $proc2, $toColor $proc3,$toColor $proc4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
.name-table{
  position: absolute;
  height: 170px;
  border-bottom-right-radius: $radius_little;
  border-bottom-left-radius: $radius_little;
  z-index:$z-upper;
  box-shadow: $box_shadow_down $box_shadow_color;
  h2{
    margin-top: 40px;
    color: $text_color_bigger;
    text-align: center;
  }
}
.myFooter,
.name-table {
  @include gradient_color_footer_4($gradient_color_up, $gradient_color_down,$percent1,$percent2,$percent3,$percent4);
 }

.white-line{
  margin-top: 40px;
  background-color: $LineColor;
  opacity: $whiteLineOpacity;
  height: 20px;
}
.green-bar{
  margin-top: -30px;
  position: static;
  background: url("../images/greenBar.png");
  height: 100px;
  opacity: 0.6;
  left: 100px;
  top: 100px;
  z-index: $z-downer;
}
.footer{
  margin-top: -20px;
  z-index: $z-downer;
}
.white-line-sort{
  z-index: $z-upper;
  margin-top: 100px;
  background-color: $LineColor;
  opacity: $whiteLineOpacity;
  height: 20px;
}
nav{
  z-index: $z-up;
  box-shadow: $box_shadow_down $box_shadow_color;
}
#base {
  padding: 20px;
  background-color: $bg_main_color;
  z-index: $z-down;
  min-height: 300px ;
  margin-bottom: 50px;
  box-shadow: $box_shadow_down $box_shadow_color;
  table{
    background-color:$bg_table_color ;
    td{
      background-color: $bg_main_color;
      color: $text_color_simple;
    }th{
       color: $text_color_hover;
       padding: $smallPadding;
     }
  }
  p,
  label{
    color: $text_color_simple;
  }
  h2{
    color:$text_color_bigger;
  }
}

@media (max-width: 767px) {
  #base {
    margin-bottom: 10px;
  }
}
