.navbar {
  height: 100px;
  background-color: white;
  padding-top: 40px; }

.navbar-nav > li > a {
  text-transform: uppercase;
  color: #969292;
  font-size: 18px;
  font-weight: 900;
  font-family: "museo-sans", "Book Antiqua", sans-serif; }

.navbar-nav > li > a:hover {
  color: #1E2624;
  background-color: white;
  border-bottom: solid 4px #39f8c5; }

.navbar-collapse {
  position: relative;
  z-index: 50;
  background-color: white; }

.navbar-toggle {
  background-color: #212121; }

.navbar-default {
  background-color: white;
  border-color: transparent; }

@media screen and (max-width: 768px) {
  .navbar {
    padding-top: 0;
    height: 40px; }

  .navbar-nav > li > a {
    font-size: 30px;
    font-weight: lighter;
    padding: 25px;
    color: white; }

  .navbar-toggle {
    height: 60px;
    width: 60px;
    position: relative;
    float: right;
    margin-top: -1px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    margin-right: -15px;
    background: #262626 url("../images/open-menu.png") no-repeat center center; }

  .navbar-collapse {
    color: white;
    text-align: center;
    background-color: #262626; }

  .navbar-nav > li > a:hover {
    background-color: #212121;
    border: none;
    color: white; }

  .navbar-brand {
    height: 50px;
    font-size: 30px;
    margin-top: -1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #262626; }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white; }

  .navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #E2FF33; }

  .navbar-default .navbar-toggle:focus {
    background-color: #262626; }

  .navbar-default .navbar-toggle:hover {
    background: #262626 url("../images/menu_hover.png"); } }
#mainBar {
  background: url("../images/mainBar.gif") no-repeat center center fixed;
  min-height: 500px;
  padding: 20px;
  margin: -15px; }
  #mainBar .tableName {
    font-size: 60px;
    color: #262626; }
  #mainBar .btn-primary {
    background-color: #262626;
    border-color: #1E2624; }
  #mainBar .btn {
    border-radius: 0;
    margin: 15px; }
  #mainBar .btn-primary:nth-child(odd) {
    background-color: #C5E261;
    border-color: #8AFA80; }
  #mainBar .btn-primary:nth-child(even) {
    background-color: #7DCF5B;
    border-color: #87E261; }
  #mainBar .btn-primary:nth-child(2) {
    background-color: #E2FF33;
    border-color: #87E261; }

#table-score {
  padding: 15px;
  background-color: rgba(38, 38, 38, 0.6);
  color: #FFFDFD;
  border: none; }
  #table-score .table-score-name {
    padding: 5px;
    font-size: 25pt; }
  #table-score .table > thead > tr > th, #table-score .table > tbody > tr > th, #table-score .table > tfoot > tr > th, #table-score .table > thead > tr > td, #table-score .table > tbody > tr > td, #table-score .table > tfoot > tr > td {
    border: inherit; }
  #table-score .table > tbody > tr:first-child {
    font-weight: 600;
    font-size: larger; }
  #table-score .table > tbody > tr:nth-child(2) {
    font-weight: 600;
    font-size: larger;
    color: #E2FF33; }

.table-buttons {
  margin-left: 15px;
  padding: 15px; }

.refreshInfo {
  padding-top: 50px;
  top: 50px; }

.tableFormat {
  min-height: 300px;
  padding: 20px;
  margin-left: 20px;
  background-color: #2F8F75;
  color: white; }
  .tableFormat .score {
    color: white;
    font-size: 24pt;
    padding: 5px; }
  .tableFormat .tableLeftSide {
    text-align: right; }
  .tableFormat .tableCenterSide {
    text-align: center; }
  .tableFormat .table-user-photo {
    opacity: 0.7;
    max-height: 100px;
    max-width: 100px; }
  .tableFormat .table-user-photo:hover {
    opacity: 0.9; }
  .tableFormat .player-card {
    display: block;
    text-align: center; }

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20pt;
  color: inherit;
  font-family: inherit; }

.panel-default {
  padding: 0;
  border: none; }
  .panel-default .panel-heading {
    font-size: 25pt;
    color: #FFFDFD;
    background-color: #262626;
    padding: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid; }

.panel-body {
  background-color: #F2F2F2;
  color: #A1A1A1;
  padding: 20px;
  padding-top: 30px; }
  .panel-body .table > thead > tr > th, .panel-body .table > tbody > tr > th, .panel-body .table > tfoot > tr > th, .panel-body .table > thead > tr > td, .panel-body .table > tbody > tr > td, .panel-body .table > tfoot > tr > td {
    border: none;
    text-align: inherit; }
  .panel-body .table > thead > tr > th {
    display: inline; }

.navigation {
  text-align: center; }
  .navigation .pagination > li > a, .navigation .pagination > li > span {
    color: #FFF;
    background-color: #262626;
    border: none; }
  .navigation .pagination > .disabled > span, .navigation .pagination > .disabled > span:hover, .navigation .pagination > .disabled > span:focus {
    color: #FFF;
    background-color: #262626; }
  .navigation .pagination > li:last-child > a, .navigation .pagination > li:last-child > span {
    border-radius: 0px; }
  .navigation .pagination > li:first-child > a, .navigation .pagination > li:first-child > span {
    border-radius: 0px; }
  .navigation .pagination > .active > a, .navigation .pagination > .active > span, .navigation .pagination > .active > a:hover, .navigation .pagination > .active > span:hover, .navigation .pagination > .active > a:focus, .navigation .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #969292;
    border-color: #969292;
    cursor: default; }

.myFooter {
  padding: 0 20px;
  padding-top: 10px;
  text-align: right;
  color: #969292;
  background-color: #202020;
  height: 45px; }

.myModal .failModal {
  background-color: red; }
.myModal .defaultModal {
  background-color: #00AA88; }
.myModal .successModal {
  background-color: #87E261; }
.myModal .modal-header {
  padding: 10px;
  border-bottom: none;
  min-height: 0; }
.myModal .modal-content {
  border-radius: 0; }

.myModalBIG .modal-header {
  font-size: 25pt;
  color: #FFFDFD;
  background-color: #262626;
  padding: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid; }
  .myModalBIG .modal-header .modal-title {
    font-size: 22pt; }
  .myModalBIG .modal-header .close {
    color: #FFF8F8; }
.myModalBIG .modal-content {
  border-radius: 0; }
.myModalBIG .modal-body {
  background-color: #F2F2F2; }

.nav-pills li a {
  border-radius: 0; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #262626;
  border-radius: 0; }

.buttons-Green, .btn-success {
  background-color: #2F8F78;
  border: inherit;
  border-radius: 0; }

.btn-danger {
  border: inherit;
  border-radius: 0; }

.userImageKeaper {
  text-align: right;
  background-color: #262626;
  color: white; }
  .userImageKeaper .profileIMG {
    min-width: 100px;
    margin-right: auto;
    margin-left: auto; }
  .userImageKeaper a, .userImageKeaper a:hover, .userImageKeaper a:focus {
    text-align: right;
    color: white; }

.nav-pills {
  padding-left: 10px;
  padding-right: 10px; }

.profileMeniu {
  padding-left: 20px; }

.rankView {
  padding: 10px;
  text-align: center;
  background-color: #95FF6C; }

.tab-content {
  background: #262626 url("../images/mainBar.gif") no-repeat center center;
  padding: 20px; }

.popover-content img {
  max-width: 200px;
  max-height: 200px; }

.nextRankView {
  color: #969292;
  padding: 10px;
  background-color: rgba(38, 38, 38, 0.6); }

@media screen and (max-width: 980px) {
  .table-score .table > thead > tr > th, .table-score .table > tbody > tr > th, .table-score .table > tfoot > tr > th, .table-score .table > thead > tr > td, .table-score .table > tbody > tr > td, .table-score .table > tfoot > tr > td {
    font-size: 9pt;
    padding: 2px; } }
.profileIMGTeam {
  max-width: 150px;
  max-height: 150px; }

/*# sourceMappingURL=index.css.map */
