// some variables
$min-height: 100%;
$my-panel-css-box-parameters: 10px;

// linear-gradient mixin with varargs
// start color is non-vararg for "background:" which takes one variable (no color-stop)
@mixin linear-gradient($colorsAndStops...) {
  $firstColor: first($colorsAndStops);
  $stops: ();
  $webkit-stops: ();
  @for $i from 1 through length($colorsAndStops)/2 {
    $stops: append($stops, nth($colorsAndStops, $i*2-1) nth($colorsAndStops, $i*2), comma);
    $webkit-stops: append($webkit-stops, color-stop(nth($colorsAndStops, $i*2), nth($colorsAndStops, $i*2-1)), comma);
  }
  background: $firstColor;
  background: -moz-linear-gradient(top, $stops); /* FF3.6+ */
  background: -webkit-linear-gradient(top, $stops); /* Chrome10+, Safari5.1+ */
  background: -o-linear-gradient(top, $stops); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $stops); /* IE10+ */
  background: linear-gradient(to bottom, $stops); /* W3C */
  background: -webkit-gradient(left top, left bottom, $webkit-stops); /* Chrome, Safari4+ */
}

// body and main tags should not be used for nesting - this is just a pedagogical example
body {
  background-color: rgba(0, 0, 0, 1);

    #main {
      margin-top: -50px;
      min-height: $min-height;

    .myPanel{
      z-index: 5;
      margin-top: $my-panel-css-box-parameters;
      margin-bottom: $my-panel-css-box-parameters;
      border-top-left-radius: $my-panel-css-box-parameters;
      border-top-right-radius: $my-panel-css-box-parameters;
      padding: $my-panel-css-box-parameters;
      min-height: $min-height;
      @include linear-gradient(rgba(66,66,65,1), 0%, rgba(23,23,23,1), 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424241', endColorstr='#171717', GradientType=0 );
    }
    .myPanelHeader{
      text-transform: uppercase;
      font-size: 14pt;
      margin-left: 20px;
      margin-top: 20px;
      border-bottom: solid 5px rgba(0, 0, 0, 0.12);
      font-family: "Verdana";
      color: rgba(255, 255, 255, 0.5);
    }
    .myPanelArea{
      box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
      margin-bottom: 20px;
      margin-top: 20px;
      padding-left: 40px;
      color: rgba(255, 255, 255, 0.5);
      padding-bottom: 20px;
    }
    .myFooter{
      padding: 5px;
      text-align: right;
      height: 50px;
      color: rgba(255, 255, 255, 0.5);
    }
    .tableList{
      font-size: large;
    }
    .status{
      min-height: $min-height;
      height: 25px;
      width: 25px;
      background-color: green;
      opacity: 0.6;
      border-radius: 100%;
    }
    .scoreSmall{
      background-color: #3e8f3e;
      border-radius: 5px;
      text-align: center;
      color: #ffffff;
      background-color: rgba(0,255,0, 0.6);
    }
    .header{
      height: 100px;
      background-color: #2b542c;
      box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
      @include linear-gradient(rgba(0,0,0,1), 0%, rgba(0,0,0,1), 16%, rgba(87,84,87,1), 77%, rgba(87,84,87,1), 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#575457', GradientType=0 );

    }
    .name-table{
      position: absolute;
      height: 150px;
      z-index: 15;
    }
  }
}


