body{
    background-color: rgba(0, 0, 0, 1);
}
#main{
    margin-top: -50px;
    min-height: 100%;


}
.myPanel{
    z-index: 5;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    min-height: 100%;
    background: rgba(66,66,65,1);
    background: -moz-linear-gradient(top, rgba(66,66,65,1) 0%, rgba(23,23,23,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,66,65,1)), color-stop(100%, rgba(23,23,23,1)));
    background: -webkit-linear-gradient(top, rgba(66,66,65,1) 0%, rgba(23,23,23,1) 100%);
    background: -o-linear-gradient(top, rgba(66,66,65,1) 0%, rgba(23,23,23,1) 100%);
    background: -ms-linear-gradient(top, rgba(66,66,65,1) 0%, rgba(23,23,23,1) 100%);
    background: linear-gradient(to bottom, rgba(66,66,65,1) 0%, rgba(23,23,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424241', endColorstr='#171717', GradientType=0 );
}
.myPanelHeader{
    text-transform: uppercase;
    font-size: 14pt;
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: solid 5px rgba(0, 0, 0, 0.12);
    font-family: "Verdana";
    color: rgba(255, 255, 255, 0.5);
}
.myPanelArea{
// box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 40px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 20px;
}
.myFooter{
    padding: 5px;
    text-align: right;
    height: 50px;
    color: rgba(255, 255, 255, 0.7);
}
.tableList{
    font-size: large;
}
.status{
    min-height: 100%;
    height: 25px;
    width: 25px;
    background-color: green;
    opacity: 0.6;
    border-radius: 100%;
}
.scoreSmall{
    background-color: #3e8f3e;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0,255,0, 0.6);
}
.headeris{
    height: 100px;
    background-color: #2b542c;
    box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 16%, rgba(87,84,87,1) 77%, rgba(87,84,87,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(16%, rgba(0,0,0,1)), color-stop(77%, rgba(87,84,87,1)), color-stop(100%, rgba(87,84,87,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 16%, rgba(87,84,87,1) 77%, rgba(87,84,87,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 16%, rgba(87,84,87,1) 77%, rgba(87,84,87,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 16%, rgba(87,84,87,1) 77%, rgba(87,84,87,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 16%, rgba(87,84,87,1) 77%, rgba(87,84,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#575457', GradientType=0 );

}
.name-table{
    position: absolute;
    height: 150px;
    z-index: 15;
}
.myFooter,
.name-table {
    background: rgba(66,66,66,1);
    background: -moz-linear-gradient(top, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 77%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,66,66,1)), color-stop(77%, rgba(66,66,66,1)), color-stop(98%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 77%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 77%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 77%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 77%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#000000', GradientType=0 );
}
.name-table h2{
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
}
.navbar{
    margin-top:-20px;
    padding: 0;
    margin-bottom:0 ;
    min-height: 100%;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(3,3,3,1) 1%, rgba(59,56,59,1) 17%, rgba(59,56,59,1) 48%, rgba(59,56,59,1) 81%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(1%, rgba(3,3,3,1)), color-stop(17%, rgba(59,56,59,1)), color-stop(48%, rgba(59,56,59,1)), color-stop(81%, rgba(59,56,59,1)), color-stop(96%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(3,3,3,1) 1%, rgba(59,56,59,1) 17%, rgba(59,56,59,1) 48%, rgba(59,56,59,1) 81%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(3,3,3,1) 1%, rgba(59,56,59,1) 17%, rgba(59,56,59,1) 48%, rgba(59,56,59,1) 81%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(3,3,3,1) 1%, rgba(59,56,59,1) 17%, rgba(59,56,59,1) 48%, rgba(59,56,59,1) 81%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(3,3,3,1) 1%, rgba(59,56,59,1) 17%, rgba(59,56,59,1) 48%, rgba(59,56,59,1) 81%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.navbar-default
{
    z-index: 10;
    border-radius: inherit;
}
.navbar-nav li{
    margin-left: 20px;
}
.navbar-nav li:hover{
    border-bottom :solid 10px #ffffff ;
    color: rgba(255, 255, 255, 0.9);
}
.navbar-default .navbar-nav>li>a
{
    font-size: large;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.8);
}
.navbar-default .navbar-nav>li>a:hover
{
    font-size: large;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.9);
}
.navbar-default {
    border: 0;
}
.white-line{
    margin-top: 40px;
    background-color: #ffffff;
    opacity: 0.8;
    height: 20px;
}
.green-bar{
    margin-top: -10px;
    background-color: #ffffff;
    position: static;
    background-image: url("../images/greenBar.png");
    height: 100px;
    opacity: 0.6;
    left: 100px;
    top: 100px;
    z-index: -1;
}
.footer{
    margin-top: -20px;
    z-index: -5;
}
.white-line-sort{
    z-index: 5;
    position: fixed;
    margin-top: 150px;
    background-color: #ffffff;
    opacity: 0.8;
    height: 20px;
}


.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 4px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;

}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: rgba(68, 0, 85, 0.09);
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}