{% extends "::base.html.twig" %}

{% block title %}create new rank{% endblock %}

{% block body %}
    <h2>Please create new Rank</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
