{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    <div class="ui-widget">
        <label for="tags">Username: </label>
        <input id="tags">
        <input id="usernameButton" class="btn btn-default" type="submit">
    </div>
    <div id="userTable">
    </div>
    <script src="{{ asset('bundles/user/js/userIndex.js') }}">

    </script>
{% endblock fos_user_content %}