{% extends "::base.html.twig" %}

{% block title %}pitaksKickerBundle:Table:delete{% endblock %}

{% block body %}
    <h2>Delete provider</h2>
    {% if form.delete is defined %}
        Are you sure you want to delete table : {{ form.vars.value.name }} ?
    {% endif %}
    {{ form(form) }}
{% endblock %}
