{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="col-sm-4">
            <div class="fos_user_user_show">
                {% include('@User/Profile/friendTablo.html.twig') %}
            </div>
        </div>
        <div class="col-sm-8">
            {% include('@User/Statistic/userStatTable.html.twig') %}
        </div>
    </div>
{% endblock fos_user_content %}
