    <div class="ui-widget">
        <input id="teamId" hidden value="{{ myteamId }}">
        <label for="tags">Team name: </label>
        <input id="tags">
        <input id="usernameButton" class="btn btn-default" type="submit">
    </div>
    <div id="userTable">
    </div>
        <script src="{{ asset('bundles/pitaksteam/js/teamSearch.js')}}">
    </script>